# Configurazione Backend BitM Sentinel

# Scelta del Provider LLM: "gemini", "openai","deepseek" oppure "ollama"
LLM_PROVIDER=gemini

# Modello specifico da utilizzare:
# Per Gemini: "gemini-3.5-flash", "gemini-3.7-flash", ecc.
# Per OpenAI: "gpt-4o-mini"
# Per Deepseek: "deepseek-reasoner"
# Per Ollama locale: "qwen2.5-coder:7b" o "llama3.2:3b"
LLM_MODEL=gemini-3.5-flash

# API Keys (necessarie solo per i provider Cloud)
GEMINI_API_KEY=your_gemini_api_key_here
OPENAI_API_KEY=your_openai_api_key_here #puoi inserire deepseek qua

# Endpoint Ollama (necessario solo se LLM_PROVIDER=ollama)
OLLAMA_BASE_URL=http://localhost:11434

# Impostazioni Server FastAPI
HOST=127.0.0.1
PORT=8000
